@model IEnumerable<devmgr.Models.FLOW_PROJECT>
@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>项目管理</h2>

<p>
    @Html.ActionLink("添 加", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productid_fx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responserid_fx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.request_text)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.request_file)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.dad_projectid_fx)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.dad_level)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.is_bottom)
    </th>*@
        
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.whocreateid_fx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_text)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.productid_fx)
        </td>*@
        <td>
            @{ var obj = ef.FLOW_PRODUCT.Where(item1 => item1.id == item.productid_fx); }
            @if (obj.Count<FLOW_PRODUCT>() > 0)
            {
                @Html.Label(obj.First<FLOW_PRODUCT>().name.ToString())
            }
            else
            {

            }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.responserid_fx)
        </td>*@

        <td>
            @{ var obj2 = ef.SYS_USER.Where(item1 => item1.id == item.responserid_fx); }
            @if (obj2.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj2.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.startdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deadline)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.request_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.request_file)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dad_projectid_fx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dad_level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_bottom)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.whocreateid_fx)
        </td>*@
        <td>
            @{ var obj3 = ef.SYS_USER.Where(item1 => item1.id == item.whocreateid_fx); }
            @if (obj3.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj3.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdate)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.id }) |
            @Html.ActionLink("查看", "Details", new { id=item.id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
