@*@model IEnumerable<devmgr.Models.FLOW_REQUEST>*@

@model PagedList.IPagedList<devmgr.Models.FLOW_REQUEST>
@using PagedList.Mvc;

@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("产品管理", "Index", "FLOW_PRODUCT")</li>
        <li>@Html.ActionLink("需求管理", "Index", "FLOW_REQUEST")</li>
        <li>@Html.ActionLink("客户管理", "Index", "FLOW_CLIENT")</li>
    </ul>
</div>
<h2>需求管理</h2>

<p>
    @Html.ActionLink("添 加", "Create")
</p>

<span style="background-color: rgb(255, 255, 102);">
    @using (Html.BeginForm("Index", "FLOW_REQUEST", FormMethod.Get, new { @class = "form-inline" }))
    {
        <p>
            所属产品: @Html.DropDownList("searchProd", ViewData["categories_prod"] as SelectList, "请选择项目", new { @style = "width:150px;height:30px;font-size:12px;", @id = "searchProj" })
            &nbsp;<input type="submit" value="查询" class="btn btn-default" />
        </p>
    }

</span>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("编号", "Index", new { sortOrder = ViewBag.CodeSortParm })
        </th>
        <th>
            产品名称
        </th>
        <th>
            开始日期
        </th>
        <th>
            截止日期
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.request_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.request_file)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_text)
        </th>*@
        <th>
            备注
        </th>
        <th>
            创建者
        </th>
        <th>
            @Html.ActionLink("创建日期", "Index", new { sortOrder = ViewBag.CreatedateSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.productid_fx)
        </td>*@
        <td>
            @{ var obj = ef.FLOW_PRODUCT.Where(item1 => item1.id == item.productid_fx); }
            @if (obj.Count<FLOW_PRODUCT>() > 0)
            {
                @Html.Label(obj.First<FLOW_PRODUCT>().name.ToString())
            }
            else
            {

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startdate, "shortdatetime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deadline, "shortdatetime")
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.request_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.request_file)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_text)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.whocreateid_fx)
        </td>*@
        <td>
            @{ var obj2 = ef.SYS_USER.Where(item1 => item1.id == item.whocreateid_fx); }
            @if (obj2.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj2.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdate, "shortdatetime")
        </td>
        <td>
           @{
               if (Request.Cookies["islogin"] == null)
               {
                   if (ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Login")
                   {
                   }
                   else
                   {
                       Response.Redirect("/Account/Login");
                   }
               }
               String caid = Request.Cookies["username"].Value.ToString();
               int cuid = ef.SYS_USER.Where(s => s.account_id == caid).First<SYS_USER>().id;
               int? ugid = int.Parse(ef.SYS_USER.Where(s => s.account_id == caid).First<SYS_USER>().usertypeid_fx.ToString());
               int mod1id = ef.SYS_MODULE.Where(s => s.code == "MOD00001").First<SYS_MODULE>().id;
               var objs = ef.SYS_UTYPE_MODULE.Where(s => s.usertypeid_fx == ugid && s.moduleid_fx == mod1id);
        }
        @if (objs.First<SYS_UTYPE_MODULE>().iswrite == 1)
        {
            @Html.ActionLink("编辑 |", "Edit", new { id = item.id });
        }

        @Html.ActionLink("查看", "Details", new { id = item.id })

        @if (objs.First<SYS_UTYPE_MODULE>().iswrite == 1)
        {
            @Html.ActionLink("| 删除", "Delete", new { id = item.id })
        }
        </td>
    </tr>
}

</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum, categories_prod = ViewData["categories_prod"], sortOrder = ViewBag.CurrentSort }))
