@*@model IEnumerable<devmgr.Models.FLOW_CLIENT>*@

@model PagedList.IPagedList<devmgr.Models.FLOW_CLIENT>
@using PagedList.Mvc;

@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("产品管理", "Index", "FLOW_PRODUCT")</li>
        <li>@Html.ActionLink("需求管理", "Index", "FLOW_REQUEST")</li>
        <li>@Html.ActionLink("客户管理", "Index", "FLOW_CLIENT")</li>
    </ul>
</div>
<h2>客户管理</h2>

<p>
    @Html.ActionLink("添 加", "Create")
</p>
<table class="table">
    <tr>
        <th>
            编号
        </th>
        <th>
            公司名称
        </th>
        <th>
            联系人
        </th>
        <th>
            电话
        </th>
        <th>
            邮箱
        </th>
        <th>
            描述
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.remark)
        </th>*@
        <th>
            创建者
        </th>
        <th>
            创建日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_text)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>*@
        <td>
            @{ var obj3 = ef.SYS_USER.Where(item1 => item1.id == item.whocreateid_fx); }
            @if (obj3.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj3.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdate, "shortdatetime")
        </td>
        <td>
            @{
                if (Request.Cookies["islogin"] == null)
                {
                    if (ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Login")
                    {
                    }
                    else
                    {
                        Response.Redirect("/Account/Login");
                    }
                }
                String caid = Request.Cookies["username"].Value.ToString();
                int cuid = ef.SYS_USER.Where(s => s.account_id == caid).First<SYS_USER>().id;
                int? ugid = int.Parse(ef.SYS_USER.Where(s => s.account_id == caid).First<SYS_USER>().usertypeid_fx.ToString());
                int mod1id = ef.SYS_MODULE.Where(s => s.code == "MOD00012").First<SYS_MODULE>().id;
                var objs = ef.SYS_UTYPE_MODULE.Where(s => s.usertypeid_fx == ugid && s.moduleid_fx == mod1id);
            }
            @if (objs.Count() != 0)
            {
                if (objs.First<SYS_UTYPE_MODULE>().iswrite == 1)
                {
                    @Html.ActionLink("编辑 |", "Edit", new { id = item.id })
                }
            }
            @Html.ActionLink("查看", "Details", new { id = item.id })

            @if (objs.Count() != 0)
            {
                if (objs.First<SYS_UTYPE_MODULE>().iswrite == 1)
                {
                    @Html.ActionLink("| 删除", "Delete", new { id = item.id })
                }
            }
        </td>
    </tr>
}

</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum, sortOrder = ViewBag.CurrentSort }))
