@model devmgr.Models.SYS_UTYPE_MODULE
@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("用户管理", "Index", "SYS_USER")</li>
        <li>@Html.ActionLink("部门管理", "Index", "SYS_DEPART")</li>
        <li>@Html.ActionLink("模块管理", "Index", "SYS_MODULE")</li>
        <li>@Html.ActionLink("用户组管理", "Index", "SYS_USERTYPE")</li>
        <li>@Html.ActionLink("用户组&模块管理", "Index", "SYS_UTYPE_MODULE")</li>
    </ul>
</div>
<h2>删除</h2>

<h3>确定要删除此条记录?</h3>
<div>
    <h4>权限管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usertypeid_fx)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.usertypeid_fx)*@
            @{
                var obj3 = ef.SYS_USERTYPE.Where(item1 => item1.id == Model.usertypeid_fx);
            }
            @if (obj3.Count<SYS_USERTYPE>() > 0)
            {
                @Html.Label(obj3.First<SYS_USERTYPE>().typename.ToString())
            }
            else
            {

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moduleid_fx)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.moduleid_fx)*@
            @{
                var obj = ef.SYS_MODULE.Where(item1 => item1.id == Model.moduleid_fx);
            }
            @if (obj.Count<SYS_MODULE>() > 0)
            {
                @Html.Label(obj.First<SYS_MODULE>().name.ToString())
            }
            else
            {

            }
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isdefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isdefault)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.isenable)
        </dt>

        <dd>
            @if (Model.isenable == 1)
            {
                @Html.Label("是")
            }
            else
            { @Html.Label("否") }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isread)
        </dt>

        <dd>
            @if (Model.isread == 1)
            {
                @Html.Label("是")
            }
            else
            { @Html.Label("否") }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iswrite)
        </dt>

        <dd>
            @if (Model.iswrite == 1)
            {
                @Html.Label("是")
            }
            else
            { @Html.Label("否") }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whocreateid_fx)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.whocreateid_fx)*@
            @{
                var obj2 = ef.SYS_USER.Where(item1 => item1.id == Model.whocreateid_fx);
            }
            @if (obj2.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj2.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
