@model IEnumerable<devmgr.Models.SYS_UTYPE_MODULE>
@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("用户管理", "Index", "SYS_USER")</li>
        <li>@Html.ActionLink("部门管理", "Index", "SYS_DEPART")</li>
         
        <li>@Html.ActionLink("用户组管理", "Index", "SYS_USERTYPE")</li>
        <li>@Html.ActionLink("权限管理", "Index", "SYS_UTYPE_MODULE")</li>
    </ul>
</div>
<h2>权限管理</h2>

<p>
    @Html.ActionLink("添 加", "Create")
</p>
<span style="background-color: rgb(255, 255, 102);">
    @using (Html.BeginForm("Index", "SYS_UTYPE_MODULE", FormMethod.Get, new { @class = "form-inline" }))
    {
        <p>
            用户组: @Html.DropDownList("searchUtype", ViewData["categories_Utype"] as SelectList, new { @style = "width:150px;height:30px;font-size:12px;", @id = "searchUtype" })
            系统模块: @Html.DropDownList("searchModule", ViewData["categories_Mod"] as SelectList, "全部", new { @style = "width:150px;height:30px;font-size:12px;", @id = "searchUtype" })


            &nbsp;<input type="submit" value="查询" class="btn btn-default" />
        </p>
    }

</span>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.code)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.usertypeid_fx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moduleid_fx)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isdefault)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.isenable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isread)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iswrite)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.desc_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.whocreateid_fx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.code)
        </td>*@
        <td>
            @{ var obj = ef.SYS_USERTYPE.Where(item1 => item1.id == item.usertypeid_fx); }
            @if (obj.Count<SYS_USERTYPE>() > 0)
            {
                @Html.Label(obj.First<SYS_USERTYPE>().typename.ToString())
            }
            else
            {

            }
        </td>
        <td>
            @{ var obj2 = ef.SYS_MODULE.Where(item1 => item1.id == item.moduleid_fx); }
            @if (obj2.Count<SYS_MODULE>() > 0)
            {
                @Html.Label(obj2.First<SYS_MODULE>().name.ToString())
            }
            else
            {
            }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isdefault)
        </td>*@
        
            @if (item.isenable == 1)
            {
                <td style = "background-color:aquamarine"> @Html.Label("是")</td>
            }
            else
            {
                <td style = "background-color:antiquewhite"> @Html.Label("否")</td>
            }
                
        
    @if (item.isread == 1)
    {
    <td style="background-color:aquamarine"> @Html.Label("是")</td>
    }
    else
    {
        <td style="background-color:antiquewhite"> @Html.Label("否")</td>
    }

        
            @if (item.iswrite == 1)
            {
                <td style="background-color:aquamarine"> @Html.Label("是")</td>
            }
            else
            {
                <td style="background-color:antiquewhite"> @Html.Label("否")</td>
            }
        
        @*<td>
            @Html.DisplayFor(modelItem => item.desc_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>*@
        <td>
            @{ var obj3 = ef.SYS_USER.Where(item1 => item1.id == item.whocreateid_fx); }
            @if (obj3.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj3.First<SYS_USER>().cname.ToString())
            }
            else
            {
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdate, "shortdatetime")
        </td>
        <td>
            @{
                if (Request.Cookies["islogin"] == null)
                {
                    if (ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Login")
                    {
                    }
                    else
                    {
                        Response.Redirect("/Account/Login");
                    }
                }
                String caid = Request.Cookies["username"].Value.ToString();
                int cuid = ef.SYS_USER.Where(s => s.account_id == caid).First<SYS_USER>().id;
                int? ugid = int.Parse(ef.SYS_USER.Where(s => s.account_id == caid).First<SYS_USER>().usertypeid_fx.ToString());
                int mod1id = ef.SYS_MODULE.Where(s => s.code == "MOD00010").First<SYS_MODULE>().id;
                var objs = ef.SYS_UTYPE_MODULE.Where(s => s.usertypeid_fx == ugid && s.moduleid_fx == mod1id);
            }
            @if (objs.Count()!=0)
            {
                if (objs.First<SYS_UTYPE_MODULE>().iswrite == 1)
                {
                @Html.ActionLink("编辑 |", "Edit", new { id = item.id });
                }
            }

            @Html.ActionLink("查看", "Details", new { id = item.id })

            @if (objs.Count() != 0)
            {
                if (objs.First<SYS_UTYPE_MODULE>().iswrite == 1)
                {
                @Html.ActionLink("| 删除", "Delete", new { id = item.id })
                }   
            }
        </td>
    </tr>
}

</table>
