@model devmgr.Models.SYS_USERTYPE
@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("用户管理", "Index", "SYS_USER")</li>
        <li>@Html.ActionLink("部门管理", "Index", "SYS_DEPART")</li>
        <li>@Html.ActionLink("模块管理", "Index", "SYS_MODULE")</li>
        <li>@Html.ActionLink("用户组管理", "Index", "SYS_USERTYPE")</li>
        <li>@Html.ActionLink("用户组&模块管理", "Index", "SYS_UTYPE_MODULE")</li>
    </ul>
</div>
<h2>Edit</h2>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SYS_USERTYPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whocreateid_fx)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.whocreateid_fx)*@
            @{
                var obj2 = ef.SYS_USER.Where(item1 => item1.id == Model.whocreateid_fx);
            }
            @if (obj2.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj2.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
