@*@model IEnumerable<devmgr.Models.FLOW_PROJMO>*@

@model PagedList.IPagedList<devmgr.Models.FLOW_PROJMO>
@using PagedList.Mvc;

@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>项目模块</h2>

<p>
    @Html.ActionLink("添 加", "Create")
</p>

<span style="background-color: rgb(255, 255, 102);">
    @using (Html.BeginForm("Index", "FLOW_PROJMO", FormMethod.Get, new { @class = "form-inline" }))
    {
        <p>
            模块名称: @Html.TextBox("searchName", null, new { @class = "form-control", @placeholder = "请输入关键字", @style = "width:150px;height:30px;font-size:12px;" })
            &nbsp;所在项目: @Html.DropDownList("searchProj", ViewData["categories_proj"] as SelectList, "请选择项目", new { @style = "width:150px;height:30px;font-size:12px;", @id = "searchProj" })
            &nbsp;<input type="submit" value="查询" class="btn btn-default" />
        </p>
    }

</span>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("编号", "Index", new { sortOrder = ViewBag.CodeSortParm })
        </th>
        <th>
            名称
        </th>
        <th>
            所在项目
        </th>
        <th>
            负责人
        </th>
        <th>
            开始日期
        </th>
        <th>
            截止日期
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.request_text)
        </th>*@
        <th>
            备注
        </th>
        <th>
            创建者
        </th>
        <th>
            @Html.ActionLink("创建日期", "Index", new { sortOrder = ViewBag.CreatedateSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.projectid_fx)
        </td>*@
        <td>
            @{ var obj = ef.FLOW_PROJECT.Where(item1 => item1.id == item.projectid_fx); }
            @if (obj.Count<FLOW_PROJECT>() > 0)
            {
                @Html.Label(obj.First<FLOW_PROJECT>().desc_text.ToString())
            }
            else
            {
                    
            }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.responserid_fx)
        </td>*@
        <td>
            @{ var obj2 = ef.SYS_USER.Where(item1 => item1.id == item.responserid_fx); }
            @if (obj2.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj2.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startdate, "shortdatetime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enddate, "shortdatetime")
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.request_text)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.whocreateid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdate, "shortdatetime")
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.id }) |
            @Html.ActionLink("查看", "Details", new { id=item.id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
