@model devmgr.Models.FLOW_MISSION
@using System.Linq;
@using devmgr.Models;
@{Model1 ef = new Model1(); }
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删 除</h2>

<h3>确定要删除此条记录?</h3>
<div>
    <h4>任务管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.request_file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request_file)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.projectid_fx)
        </dt>

        <dd>
            @{
                var obj2 = ef.FLOW_PROJECT.Where(item1 => item1.id == Model.projectid_fx);
            }
            @if (obj2.Count<FLOW_PROJECT>() > 0)
            {
                @Html.Label(obj2.First<FLOW_PROJECT>().desc_text.ToString())
            }
            else
            {

            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.projmotid_fx)
        </dt>

        <dd>
            @{
                var obj3 = ef.FLOW_PROJMO.Where(item1 => item1.id == Model.projmotid_fx);
            }
            @if (obj3.Count<FLOW_PROJMO>() > 0)
            {
                @Html.Label(obj3.First<FLOW_PROJMO>().name.ToString())
            }
            else
            {

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromwhoid_fx)
        </dt>

        <dd>
            @{
                var obj4 = ef.SYS_USER.Where(item1 => item1.id == Model.fromwhoid_fx);
            }
            @if (obj4.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj4.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.towhoid_fx)
        </dt>

        <dd>
            @{
                var obj5 = ef.SYS_USER.Where(item1 => item1.id == Model.towhoid_fx);
            }
            @if (obj5.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj5.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.todate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.todate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request_text)
        </dt>

        <dd>
            @Html.EditorFor(model => model.request_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iscomplete)
        </dt>

        <dd>
            @if (Model.iscomplete == 1)
            {
                @Html.Display("已完成");
            }
            else
            {
                @Html.Display("已发布");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whocreateid_fx)
        </dt>

        <dd>
            @{
                var obj = ef.SYS_USER.Where(item1 => item1.id == Model.whocreateid_fx);
            }
            @if (obj.Count<SYS_USER>() > 0)
            {
                @Html.Label(obj.First<SYS_USER>().cname.ToString())
            }
            else
            {

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/ueditor-utf8/ueditor.config.js", "~/Scripts/ueditor-utf8/ueditor.all.js")
    <script type="text/javascript">
        var editor = new baidu.editor.ui.Editor({
        UEDITOR_HOME_URL: '/Scripts/ueditor-utf8/',//配置编辑器路径   也可以在ueditor.config.js文件中配置。
        iframeCssUrl: '/Scripts/ueditor-utf8/themes/iframe.css',//样式路径
        // initialContent:'欢迎使用ueditor',//初始化编辑器内容
        autoHeightEnabled:true,//高度自动增长
        initialFrameHeight: 400,  //配置编辑器的初始高度为400px。
        toolbars: [[]],
        readonly: true
        });
        editor.render('request_text');   //将编辑器装入 ID=Content 的文本域中。
    </script>
}