@model IEnumerable<devmgr.Models.FLOW_PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("产品管理", "Index", "FLOW_PRODUCT")</li>
        <li>@Html.ActionLink("需求管理", "Index", "FLOW_REQUEST")</li>
        <li>@Html.ActionLink("客户管理", "Index", "FLOW_CLIENT")</li>
    </ul>
    </div>
    <h3>产品管理</h3>

    <p>
        @Html.ActionLink("添 加", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responserid_fx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientid_fx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stratdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadlinedate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.request_text)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.request_file)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.statuss)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.desc_text)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.whocreateid_fx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responserid_fx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientid_fx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stratdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadlinedate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.request_text)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.request_file)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.statuss)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.desc_text)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.whocreateid_fx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdate, "ShortDateTime")
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.id }) |
                    @Html.ActionLink("查看", "Details", new { id = item.id }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
